html, body {
  user-select: auto !important
}
button, input, textarea {
  vertical-align: middle;
  box-sizing: border-box;
  outline: 0;
}
.watch-video--selector-audio-subtitle {
  overflow-y: auto
}
.player-log {
  position: fixed;
  background: rgba(0, 0, 0, .4);
  color: #000;
  z-index: 10;
  height: 30%;
  inset: 10px;
}
.player-log.maximum {
  height: unset;
}
.player-log textarea {
  font-size: max(11px, 0.90vh);
  background: none;
  overflow-x: hidden;
  position: absolute;
  padding: 5px;
  resize: none;
  height: 100%;
  width: 100%;
  color: #ccc;
}
.player-log menu {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  font-size: small;
  background: #fff;
  padding: 0;
  margin: 0;
  opacity: 0.8;
  float: right;
}
.player-log menu button {
  background: 0;
  border: 0 solid rgb(0, 0, 0);
  padding: 4px;
  margin: 0 2px;
  height: 26px;
  width: 26px;
}
.video-info {
  text-shadow:
     #222222bf 0 0 2px, #222222bf 0 0 2px, #222222bf 0 0 2px,
     #222222bf 0 0 2px, #222222bf 0 0 2px, #222222bf 0 0 2px;
  font-family: 'Segoe UI Variable Text', 'YouTube Sans', Tahoma,  sans-serif;
  font-size: max(13px, 1.3vh);
  background: 0;
  position: absolute;
  overflow: hidden;
  margin: 10px;
  resize: none;
  border: 0;
  min-height: 260px;
  height: 26vh;
  width: 33%;
  color: #ccc;
}
.player-streams {
  font-family: monospace;
  position: fixed;
  text-align: center;
  font-size: 11px;
  padding: 5px;
  z-index: 9;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .4);
  background: #222;
  transition: opacity .3s;
  opacity: 0;
  color: #ccc;
}
.player-streams select::-webkit-scrollbar { /* Chrome, Safari and Opera */
  display: none
}
.player-streams select {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background: #444;
  border-radius: 5px;
  border: 1px solid #555;
  height: 180px;
  width: 120px;
}
.player-streams button { 
  background: #444;
  border-radius: 3px;
  border: 1px solid #555;
  margin: 2px 5px;
}
